* {
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  min-width: 400px;
  height: 100vh;
  max-height: 100vh;
  font-family: arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*  justify-content: center;*/
  background-color: white;
  height: 100%;
  width: 100%;
  gap: 30px;
}

header {
  display: flex;
  flex-direction: row;
  align-self: end;
  gap: 18px;
  height: 60px;
  padding: 6px;
  align-items: center;
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
  margin-right: 10px;
  position: relative;
  flex-shrink: 0;
}

button#signin {
  width: 96px;
  background-color: #2b7de9;
  color: white;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

button#signin:hover {
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

header a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

header a:hover {
  text-decoration: underline;
}

.moreoptions {
  height: 40px;
  width: 40px;
  outline: none;
  align-content: center;
}
.moreoptions:hover {
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  outline: none;
}

.moreoptions:hover {
  text-decoration: none;
}

.dots {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  color: #5f6368;
  width: 25px;
  margin: 11px 12px 11px 12px;
}

.dotscloser {
  margin-top: -3px;
  margin-bottom: -4px;
}

.searchbox {
  height: 44px;
  width: 584px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  background: white;
  display: flex;
  flex-grow: row;
  flex-basis: 0;
  align-items: center;
  flex-shrink: 0;
}

.searchbox:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.magnifglass {
  color: #9aa0a6;
  font-size: 13px;
  padding-left: 13px;
  padding-top: 2px;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 290px;
  height: calc(100% - 560px);
  flex-grow: 1;
  min-height: 92px;
}

#logo > img {
  max-height: 92px;
  margin-top: auto;
}

.inputsearch {
  border: none;
  box-shadow: none;
  height: 41px;
  margin-left: 20px;
  width: 85%;
}

.inputsearch:focus {
  border: none;
}

.inputsearch:focus-visible {
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  align-items: center;
  justify-items: center;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
}

button:hover {
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

/* Este element preenche o resto do espaço, mas para que isso aconteça é preciso que os outros objectos tenham altura definida. e no caso do logo, margin-top auto fez com que a imagem descesse para baixo*/
#languages {
  font-size: 13px;
  flex-grow: 1;
}
#languages > p {
  text-align: center;
}

footer {
  background-color: rgb(242, 242, 242);
  color: rgba(0, 0, 0, 0.54);
  width: 100%;
  margin-top: 50px;
}

.centercontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100%;
  gap: 25px;
  flex-shrink: 0;
}

#country {
  border-bottom: 1px solid #dadce0;
  font-size: 14px;
  padding: 2px 30px 2px 30px;
}

#info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 30px 12px 30px;
}

#info a {
  text-decoration: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

#info a:hover {
  text-decoration: underline;
}

#infoleft {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 30px;
}

#inforight {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 30px;
}

.anotherone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  max-heigth: 160px;
}

@media (max-width: 430px) {
  .searchbox {
    width: 80vw;
  }
  .inputsearch {
    width: 70%;
  }
  #info {
    justify-content: space-around;
  }
  #infoleft {
    flex-direction: column;
    justify-content: center;
    gap: 3px;
  }
  #inforight {
    flex-direction: column;
    justify-content: center;
  }
  header {
    align-self: center;
  }
  #logo > img {
    height: 70px;
  }
  body,
  html {
    min-width: 100vw;
  }
}
